/*body*/
html {
  scroll-padding-top: 75px;
}

body{
    font-size:18px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}

.primary-title{
    font-family: 'Halant', serif;
    font-weight: 700;
}

.primary-title-colored{
    font-family: 'Halant', serif;
    font-weight: 700;
    color: #841935;
}

.secondary-title{
    font-weight: 600;
}

.secondary-title-colored{
    font-weight: 600;
    color: #841935;
}

.label{
    font-size:16px;
}

section{
    padding:40px 0;
}

.content-margin{
     margin-top: 56px;
}

/*header*/
nav#header{
    /*padding:1rem;*/
    /*background-color: #841935 !important;*/
    background-color: #FFFFFF !important;
}

.nav-link{
    font-family: 'Halant', serif;
    font-weight: 600;
    letter-spacing: 1px;
    /*color: #F9F1E4 !important; */
}

a{
    color:black;
}

/*Intro Page*/
section#intro{
    margin-top: 112px;
}
section#intro p span{
    font-weight: bolder;
}

section#intro img#btnToIntro{
   width: 32px;
   margin-left: 50%
}


/*Research*/
#research{
    /*display: none;*/
}

section#research{
    background-color: #F7F3EB;
}

button#toTasteBtn{
    width: 152px;
    height:48px;
    border-radius: 4px;
    background-color: #841935;
    color: #F9F1E4;
    font-size: 20px;
    letter-spacing: 2px;
}

/*Flavor Profile*/
#taste{
    /*display: none;*/
}

#helper{
    display: none;
    height:360px;
}

.step-icon-align{
    padding-top: 2px;
}

img#flavor_step2, img#flavor_step3{
    display: none;
}

img#flavor_step3, div#flavor_label_step3 p{
    padding-top: 3rem;
}

button#varietyBtn{
    border:1px solid rgb(0,0,0);
}



/*Recommendation*/
#recommendation{
    display: none;
}

tr{
    height:50px;
}

.carousel-indicators{
    bottom: -20px;
}

.carousel-indicators li{
    background-color: darkgray;
}

.carousel-indicators .active{
    background-color: black;
}

/*tips*/
#tips{
    display: none;
}

/*Footer*/
.footer {
    display: none;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #841935;
    color: #F9F1E4;
}

.footer h6#end{
    font-size:14px;
    font-weight:400;

}

.footer h6#end a{
    color: #F9F1E4;
}

/*Viz*/

.grid path {
    stroke-width: 0;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    max-width: 200px;
    max-height: 100px;
    padding: 8px;
    font-size: 16px;
    background: #F7F3EB;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}

/*tooltip*/
.tippy-box[data-theme~='wine'] {
  background-color: #F7F3EB;
  color: black;
  font-size: 16px;
}

.tippy-box[data-theme~='wine'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #F7F3EB;
}
.tippy-box[data-theme~='wine'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #F7F3EB;
}
.tippy-box[data-theme~='wine'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #F7F3EB;
}
.tippy-box[data-theme~='wine'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #F7F3EB;
}



