/*header,footer*/
div#header.container-fluid{
    padding:0;
}

a{
    color:black;
}

/*splash*/

div#splash{
    margin-top: 3em;
}

div#splash.card{
    border:none;
    border-radius: 0;
}

.card-img-overlay{
    background-color:rgba(0,0,0,0.6);
}

.card-text{
    width:70%;
    margin:2% 20%;
    font-size: large;
}

.card-text p#key{
    margin: 5% 0;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
}

/*background*/

p#user_content{
    margin-top: 16%;
}

/*flavor*/

#main div.container-fluid{
    margin-top: 48px;
}

/*recommend*/

tr{
    height:50px;
}

.carousel-indicators li{
    background-color: darkgray;
}

.carousel-indicators .active{
    background-color: black;
}

/*footer*/
/*footer{*/
    /*background-color:#f8f9fa;*/
    /*left:0;*/
    /*bottom:0!important;*/
    /*width:100%;*/
    /*height:64px;*/
    /*overflow:hidden;*/
/*}*/

/*Viz*/

.grid path {
    stroke-width: 0;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 144px;
    height: 64px;
    padding: 8px 4px 4px;
    font: 14px sans-serif;
    background: #F9F1E4;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}



